### <span style="color:gray"> ***Data Science Foundations***  </span>
[www.datasciencefoundations.com](https://www.datasciencefoundations.com/)
<hr/>

## Python For Data Science and AI: 
# Python Programing Basics - Python Lists, Conditionals and Loops

[Sumudu Tennakoon, PhD](https://www.linkedin.com/in/sumudutennakoon) 
<hr/>

In this notebook we will explore some basic fetures on Python programming language for anyone who is ready to get start with coding in Python.

Visit Data Science Foundations YouTube Channel for the Video Lesson: [youtube.com/@DataScienceFoundations](https://www.youtube.com/@DataScienceFoundations)

### Notebook Content
1. Statements and Expressions
2. Conditionals {If..elif..else, match...case}
3. Loops {for, while}
4. Lists
5. Number sequence Generators

You can learn more about Python programing language from the official web page www.python.org

<hr/>

# Statements and Expressions

In [1]:
# Arithmatic Expressions
2 + 4

6

In [2]:
# Function call
print(10)

10

In [3]:
#Assignment Statement
a, b = 3, 4

# Arithmatic Expression with Variables
a + b

7

In [4]:
c = a + b

print(c)

7

# Conditionals

### If...Else

In [7]:
a = 6
b = 3
min_value = None

# Pay attention to indentation (code blocks)
if a < b:
    print("a < b")
    min_value = a
else:
    print("a >= b")
    min_value = b

a >= b

In [8]:
print(min_value)

3

In [10]:
color = "green"

if color=="red":
    print("stop")
else:
    print("continue")

continue

### If...Elif...Else

In [11]:
a = 2
b = 3

if (a>b):
    print('a > b')
elif (a==b):
    print('a==b')
else:
    print('a < b')

a < b

In [14]:
color = "green"

if color=="red":
    print("stop")
elif color=="yellow":
    print("prepare to stop")
else:
    print("continue")

continue

In [18]:
color = "blue"

if color=="red":
    print("stop")
elif color=="yellow":
    print("prepare to stop")
elif color=="green":
    print("continue")
else:
    print("stop and go")

stop and go

### Match-Case

In [21]:
color = "blue"
action = None

match color:
    case "red":
        action = "stop"
    case "green":
        action = "go"
    case "yellow":
        action = "prepare to stop"
    case default:
        action = "stop and go"

print(action)

stop and go

### Nested If

In [24]:
n = 8

if n>=0:
    print("non-negative")
    if n==0:
        print("zero")
    else:
        print("positive")
else:
    print("negative")

non-negative
positive

### Shorthand If

In [26]:
a = 5
b = 3

if a > b: print("a > b")

a > b

### Shorthand If...Else

In [30]:
a = 2
b = 2

print("a > b") if a > b else print("a <= b")

a <= b

In [32]:
a = 3
b = 7

c = a-b if a > b else b-a

print(c)

4

### pass Key word

In [47]:
a = 1
b = 2

if (a>b):
    pass
else:
    print('a < b')

a < b

# Lists in Python
* [10, 20, 30, 40, ...]
* ["red", "blue", yellow", "green", ...]

In [34]:
name = "John"

print(name[2])

h

In [43]:
my_list = [12, 15, 16, 18]

my_list[2]

16

In [44]:
len(my_list)

4

In [45]:
len(name)

4

### Add Element

In [48]:
numbers = [12, 15, 16, 18]

numbers.append(11)

print(numbers)

[12, 15, 16, 18, 11]

### Concatanate Two Lists

In [49]:
numbers = [12, 17, 11, 16, 14]

new_numbers = [15, 25, 18]

numbers = numbers + new_numbers

print(numbers)

[12, 17, 11, 16, 14, 15, 25, 18]

In [50]:
numbers = [12, 17, 11, 16, 14]

new_numbers = [15, 25, 18]

numbers.extend(new_numbers)

print(numbers)

[12, 17, 11, 16, 14, 15, 25, 18]

# Loops

### While

In [53]:
n = 0
while n < 10:  
    print(n)
    n += 1

0
1
2
3
4
5
6
7
8
9

In [54]:
n = 0
while n < 10:  
    print(n)
    n += 1
else:
    print("loop terminated")

0
1
2
3
4
5
6
7
8
9
loop terminated

In [56]:
n = 0

while True:    
    print(n)
    n += 1

    if n >= 10:
        break

0
1
2
3
4
5
6
7
8
9

### For

In [59]:
for n in [1,2,3,4,5,6,7,8,9,10]:
    print(n**2)
else:
    print("loop terminated")

1
4
9
16
25
36
49
64
81
100
loop terminated

### Break

In [61]:
for n in [1,2,3,4,5,6,7,8,9,10]:
    if n == 7:
        break
    else:
        print(n)

1
2
3
4
5
6

### Continue

In [62]:
for n in [1,2,3,4,5,6,7,8,9,10]:
    if n == 5:
        continue
    else:
        print(n)

1
2
3
4
6
7
8
9
10

# Example: Finding Average of Number List

In [64]:
numbers = [12, 17, 11, 16, 14]

n_count = len(numbers)
n_total = 0

i = 0
while i < n_count:
    n_total = n_total + numbers[i]
    i = i + 1
    
n_average = n_total/n_count

print(F"n_count = {n_count}")
print(F"n_total = {n_total}")
print(F"n_average = {n_average}")

n_count = 5
n_total = 70
n_average = 14.0

In [65]:
numbers = [12, 17, 11, 16, 14]

n_count = len(numbers)
n_total = 0

for n in numbers:
    n_total += n # n_total = n_total+n  

n_average = n_total/n_count

print(F"n_count = {n_count}")
print(F"n_total = {n_total}")
print(F"n_average = {n_average}")

n_count = 5
n_total = 70
n_average = 14.0

In [66]:
numbers = [12, 17, 11, 16, 14]

n_count = len(numbers)
n_total = sum(numbers)
n_average = n_total/n_count

print(F"n_count = {n_count}")
print(F"n_total = {n_total}")
print(F"n_average = {n_average}")

n_count = 5
n_total = 70
n_average = 14.0

## Single Line For Loop

In [67]:
numbers = [1,2,3,4,5,6,7,8,9,10]

numbers_square = [n**2 for n in numbers]

print(numbers_square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Single Line For Loop with Condition

In [68]:
numbers = [1,2,3,4,5,6,7,8,9,10]

numbers_square = [n**2 for n in numbers if n%2==0]

print(numbers_square)

[4, 16, 36, 64, 100]

In [69]:
numbers = [1,2,3,4,5,6,7,8,9,10]

for n in numbers:
    print("#"*n)

#
##
###
####
#####
######
#######
########
#########
##########

In [70]:
numbers = [1,2,3,4,5,6,7,8,9,10]

for n in numbers:
    print("#"*(n**2))

#
####
#########
################
#########################
####################################
#################################################
################################################################
#################################################################################
####################################################################################################

# Number Sequence Generators

#### Builtin Function `range(start,end,step)`

In [ ]:
[2,4,6,8]

In [74]:
numbers = range(0,10,2)
print(numbers)

range(0, 10, 2)

In [75]:
list(numbers)

[0, 2, 4, 6, 8]

In [76]:
print(type(numbers))

<class 'range'>

### Loops with Range

In [80]:
for n in range(0,101,2):
    print(n)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [82]:
numbers_square = [n**2 for n in range(1,101,1)]

print(numbers_square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

<hr/>
© 2021-2023 Sumudu Tennakoon

<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.